body {
    background-color: rgb(201, 76, 76);
 }

#menu {
font-size:25px;
position: fixed;
left: 5%;
top: 5%;
}

#fblogo {
position: fixed;
right: 5%;
top: 5%;
}

#name {
font-size:25px;
position: fixed;
text-align: center;
}

#greetings {
font-size:50px;
position: absolute;
left: 5px;
bottom: 40px;

}

#saysomething {
font-size:25px;
position: absolute;
left: 5px;
bottom: 10px;
}








