*{
padding:0;
margin:0;
}
body{
overflow: hidden;
}
/*    插入背景圖片    */
.p01{
background-image:url(https://i.imgur.com/461a7Ah.jpg);
background-size:cover;
background-repeat: no-repeat;
height:100vh;
}
.p02{
background-image:url(https://i.imgur.com/Vca7Oxx.jpg);
background-size:cover;
background-repeat: no-repeat;
height:100vh;
}
.p03{
background-image:url(https://i.imgur.com/RRdeZqP.jpg);
background-size:cover;
background-repeat: no-repeat;
height:100vh;
}
.p04{
background-image:url(https://i.imgur.com/lhqkkEK.jpg);
background-size:cover;
background-repeat: no-repeat;
height:100vh;
}
.p05{
background-image:url(https://i.imgur.com/1z1fBiL.jpg);
background-size:cover;
background-repeat: no-repeat;
height:100vh;
}
/*    插入導覽列     */
.nav{
position: fixed;
top:50%;
right:0px;
cursor:pointer;
}
li{
width:10px;
height:10px; 
margin: 10px;
background-color: white;
border-radius: 5px;
box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset,-1px -1px 1px rgba(0,0,0,0.5) inset;
list-style-type: none;
}

#picture1 {
position: absolute;
left: 650px;
top: 100px;
}

#picture2 {
  position:absolute;
  left:650px;
  top: 800px;
}

#picture3 {
  position:absolute;
  left:650px;
  top: 1500px;
}

#picture4 {
  position:absolute;
  left:650px;
  top: 2200px;
}

#picture5 {
  position:absolute;
  left:650px;
  top: 2900px;
}

#menu {
font-size:25px;
position: fixed;
left: 1%;
top: 1%;
}

#fblogo {
position: fixed;
right: 5px;
top: 1%;
}

#name {
font-size:25px;
position: fixed;
left: 35%;
top:1%;
}

#greetings {
font-size:60px;
letter-spacing: 5px;
position: fixed;
left: 100px;
top: 150px;

}

#saysomething {
font-size:25px;
position: fixed;
left: 100px;
top: 600px;
}








