#picture1 {
position: fixed;
left: 650px;
top: 100px;
}


#menu {
font-size:25px;
position: fixed;
left: 1%;
top: 1%;
}

#fblogo {
position: fixed;
right: 1%;
top: 1%;
}

#name {
font-size:25px;
text-align: center;
}

#greetings {
font-size:60px;
letter-spacing: 5px;
position: absolute;
left: 100px;
top: 150px;

}

#saysomething {
font-size:25px;
position: absolute;
left: 100px;
top: 600px;
}








